.email-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    background-color: #f6f8fc;
    position: sticky;
}

.logo {
    margin-inline-start: 1.5em;
    margin-inline-end: 1em;
    width: 40px;
    height: 30px;
}

.title {
    font-size: 22px;
    align-items: center;
}

.humburger {
    /* scale: 1.2; */
    cursor: pointer;
    margin-left: 0;
}

.side-bar {
    position: fixed;
    top: 80px;
    left: 0;
    margin-inline-end: 25px;
    height: 100vh;
    background-color: #f6f8fc;
    display: flex;
    flex-direction: column;
    border-inline-start: 1px solid #d3d3d3;
    gap: 20px;


    transition: box-shadow 0.6s;
    /* transform: translateX(100%); */

    /* translate: -10p; */
    transition: 0.6s;
}

.side-bar li {
    /* opacity: 0; */
    cursor: pointer;
    display: grid;
    width: 40px;
    padding: 10px;
    justify-content: center;
    /* height: 30px; */

}

.side-bar li img {
    width: 30px;
}

.side-bar li:hover{
    border-radius: 555px;
    background-color: rgb(213, 213, 213);
}

.icon-text.open {
    opacity: 1;
    translate: 50px;
    transition: 0.5s;
    background-color: #f6f8fc;
}

.icon-text {
    height: 100%;
    width: 150px;
    position: absolute;
    opacity: 0;
    /* display: none; */
    translate: -50px;
}

.side-bar:hover .icon-text {
    opacity: 1;
    /* display: block; */
    translate: 50px;
    transition: 0.5s;
    background-color: #f6f8fc;
}
 
.compose{
    background-color: #c2e7ff;
    border-radius: 10px;
    padding: 10px;
}

.compose:hover{
    background-color: #c2e7ff;
    border-radius: 10px;
    padding: 10px;
}