.note-header {
  /* align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); */
  background-color: white;
  display: flex;
  gap: 100px;
  align-items: center;
  margin-bottom: 1px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-size: 20px;
  line-height: 40px;
  font-family: sans-regular;
  color: #5f6368;
}

.logo img {
  width: 3em;
}
