.color-pallete-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  bottom: -64px;
  /* right: 0; */
  left: -21px;
  /* z-index: 1; */
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: opacity 0.218s linear;
}

.color-palette-container {
  position: relative;
}

.btn-pallete {
  display: block;
  border-radius: 50%;
  border-style: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 24px;
}
.first {
  background-color: #f8bbd0;
}

.second {
  background-color: #ffccbc;
}

.third {
  background-color: #f0f4c3;
}

.fourth {
  background-color: #1de9b6;
}

.btn-pallete:hover {
  border: 1px solid black;
}
