.note-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  break-inside: avoid;
  /* background-color: aqua; */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1rem;
  width: 14.875em;
  border: 1px solid rgb(0, 0, 0, 7%);
  /* margin-inline: 20px; */
}
.color-palette-container {
  position: absolute;
}
.user-tools-btns {
  opacity: 0;
}

.note-preview {
  transition: box-shadow 0.5s;

  /* transition: all 0.5s; */
}

.note-preview:hover .user-tools-btns {
  /* display: block; */
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.7s;
}

.note-preview:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.delete-img,
.update-img {
  width: 1.1em;
}
.user-tools-btns button:hover {
  background-color: rgb(0, 0, 0, 7%);
}
.user-tools-btns button {
  padding: 10px;
  background-color: inherit;
  border-style: none;
  border-radius: 50%;
}
