/* mail index  */

.emails-table {
  border-collapse: collapse;
  width: 100%;
}

.read {
  background-color: var(--main-bg-color);
}
.emails-table tr{
   border-bottom: 1px solid gray;
}
.emails-table .remove{
   display: grid;
   justify-items: center;
   align-items: center;
}

.emails-table tr:hover {
  border: 1px solid gray;
  box-shadow: 5px 3px 5px #888888;
  transition: 0.1s;
}

.emails-table .email-body {
  max-width: 200px;

  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
}
